// @flow

import React, { Component } from 'react';

import styles from './{{ properCase name }}.module.css';

export type {{ properCase name }}Props = {
};

/**
 * {{ properCase name }}
 */

export class {{ properCase name }} extends Component {
    props: {{ properCase name }}Props;

    render() {
        return (<h1> {{ properCase name  }}</h1>);
    }
}

export default {{ properCase name }};
