// @flow

import React, { Component } from 'react';

import './{{ properCase name }}.css';

export type {{ properCase name }}Props = {
    children?: React.Element<any>,
};

/**
 * {{ properCase name }}
 */

export default class {{ properCase name }} extends Component {
    props: {{ properCase name }}Props;

    render() {
        return (<h1> {{ properCase name  }}</h1>);
    }
}
