import React from 'react';
import './{{ properCase name }}.css';

/**
 * {{ properCase name }}
 */
const {{ properCase name }} = (props: {{ properCase name }}Props) => {
    return (<h1> {{ properCase name  }}</h1>);
};

export default {{ properCase name }};
