import React from 'react';
import styles from './{{ properCase name }}.module.css';

export type {{ properCase name }}Props = {
};

/**
 * {{ properCase name }}
 */
export const {{ properCase name }} = (props: {{ properCase name }}Props) => (
    <h1> {{ properCase name  }}</h1>
);

export default {{ properCase name }};
